<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <link rel="icon" href="../../favicon.ico">
    <title>SIT Soluciones Tasklist</title>

    <!-- Custom styles for this template -->
    <link href="../view/css/sb-admin.css" rel="stylesheet">

   
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <!-- dataTable -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    
 <link href="http://bootstrap-confirmation.js.org/assets/css/docs.min.css" rel="stylesheet">
  <link href="http://bootstrap-confirmation.js.org/assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js"></script>
  
  
    
    
    <!-- Estilos personalizados de SIT Soluciones de Informatica y Telecomunicaciones Ltda. -->
    <link href="../view/css/sit.css" rel="stylesheet">  
  
  
  
  </head>

  <body>
	<div id="wrapper">
